[Unit]
Description=Lora Packet Distrubutor
After=network.target

[Service]
ExecStart=/opt/chirpstack-packet-multiplexer -c /opt/chirpstack-packet-multiplexer.toml
Restart=on-failure

[Install]
WantedBy=multi-user.target
