[Unit]
Description=Lora Packet Distrubutor
After=network.target

[Service]
ExecStart=/opt/chirpstack-packet-multiplexer
Restart=on-failure

[Install]
WantedBy=multi-user.target
