[Unit]
Description=Lora Packet Distrubutor
After=network.target

[Service]
User=admin  # Replace with the appropriate user
Group=admin  # Replace with the appropriate group
ExecStart=/opt/packet-distributor  # Adjust the path if needed
Restart=on-failure

[Install]
WantedBy=multi-user.target
