[Unit]
Description=Lora Packet Distrubutor
After=network.target

[Service]
ExecStart=/opt/packet-distributor  # Adjust the path if needed
Restart=on-failure

[Install]
WantedBy=multi-user.target
